<!DOCTYPE html>
<html>
  <head>
    <title>Istanbul696</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# <a href="ANCHOR_URL">URL_NAME</a>
    <%= link_to "URL_NAME", ANCHOR_URL %>

    <div>
      <%= link_to "Home", root_path %>

      <%= link_to "About Us", about_path %>

      <%= link_to "Contact Us", contact_path %>

      <form action="/contact" method="get">
          <input type="text" name="member" value="<%= params[:member] %>">
          <input type="submit">
      </form>

    </div>

    <%= yield %>
  </body>
</html>
